.confetti {
    width: 500px;
    height: 700px;
}

.blue-underline {
    text-decoration: underline;
    text-decoration-color:  rgba(127, 222, 255);
}

.do-orange-underline {
    text-decoration: underline;
    text-decoration-color: rgba(255, 178, 54);    
}

.button {
    border-color: #f1574b;
    color: #f1574b;
    background-color: #f1574b;
    border-radius: 100px;
    border-style: solid;
    border-width: 4px;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.button a {
    color: black;
}

.button a:hover {
    color: black;
}
