.amber-sharpe {
    font-family: 'Roboto-Bold', sans-serif;
    color: #f1574b;
    font-size: 50px;
    margin-top: 15px;
    margin-left: 15px;
}

.introduction {
    text-align: center;
    margin-top: 125px;
}

.sub-intro {
    text-align: center;
    padding-top: 30px;
}