.amber-sharpe {
    font-family: 'Roboto-Bold', sans-serif;
    color: #f1574b;
    font-size: 45px;
    margin-top: 15px;
    margin-left: 15px;
}

.introduction {
    text-align: center;
    margin-top: 50px;
}

h3 {
    font-size: 40px !important;
}

.sub-intro {
    text-align: center;
    padding-top: 30px;
}

.down-arrow {
    width: 4em;
    height: 4em;
}