.logo h1 {
    font-family: 'Roboto-bold', sans-serif;
    color: #f1574b;
    font-size: 65px;
}

h2, 
h2 a {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 25px;
}

h3 {
    font-family: 'Roboto', sans-serif !important;
    color: #000 !important;
    font-size: 55px !important;   
}

h4 {
    font-family: 'Roboto', sans-serif !important;
    color: #000 !important;
    font-size: 25px !important;
}

.nav-item {
    width: 120px;
}

.nav-bar h2 a:hover {
    color: black;
    font-size: 30px;
    text-decoration: none;
}
   
