.project {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.bookworm-font {
    font-family: 'Merriweather Sans' !important;
    font-size: 38px;
}

.do-font {
    font-family: 'comfortaa' !important; 
    font-size: 60px !important;
}

.smalltalk-font {
    font-family: 'Maven Pro' !important;
    font-size: 44px !important;
    font-weight: bold !important;
}
.bottom-border {
    border-bottom: solid black 2px;
}

.orange-underline {
    text-decoration: underline;
    text-decoration-color: rgba(233, 137, 61);
}

.do-orange-underline {
    text-decoration: underline;
    text-decoration-color: rgba(255, 178, 54);    
}

.image-overlay-red {
    background-color: rgba(233, 137, 61);
}

.image-overlay-orange {
    background-color: rgba(255, 178, 54);
}

.orange-background {
    background-color: rgba(255, 178, 54, 0.4);  
}

.image-overlay-blue {
    background-color: rgba(127, 222, 255);
}

.parnassus-img {
    width: 600px;
    height: 300px;
}

.insights-img {
    width: 600px;
    height: 350px;
}

.persona-img {
    width: 600px;
    height: 350px;
}

.screensketch-img {
    width: 300px;
    height: 300px;
}

.screengrab-img {
    width: 550px;
    height: 350px;
}

.firebase-img {
    width: 350px;
    height: 300px;
}

p {
    font-size: 20px;
}

