.project {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.bookworm-font {
    font-family: 'Merriweather Sans' !important;
    font-size: 38px;
}

.do-font {
    font-family: 'comfortaa' !important; 
    font-size: 60px !important;
}

.smalltalk-font {
    font-family: 'Maven Pro' !important;
    font-size: 44px !important;
    font-weight: bold !important;
}
.bottom-border {
    border-bottom: solid black 2px;
}

.image-overlay-red {
    background-color: rgba(233, 137, 61);
}

.image-overlay-orange {
    background-color: rgba(255, 178, 54);
}

.image-overlay-blue {
    background-color: rgba(127, 222, 255);
}

.parnassus-img {
    width: 600px;
    height: 300px;
}

.insights-img {
    width: 600px;
    height: 350px;
}

